html, body {
    height: 100%;
}

body{
    box-sizing:border-box;
    height: 100%;
//  header   
.header{

& a,a:hover{
    color: #f0ad4e;
    text-decoration: none;
}
& h1{
    letter-spacing: 15px;
    font-size: 300%;
} 
& p{
    color: white !important;
    font-size: 90%;
    letter-spacing: 3px;
}
}
// navigations    
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover{
    color: red;
    background-color: #346270;

}       
.nav-pills>li>a{
    color: white;
} 
.nav-pills>li>a:hover{
    background-color: #346270;
}
.navbar-inverse {
    padding: 1%;
    border-radius: 0;
}

// main right panel
.clear{
    clear: both;
    height: 63px;
}
.wrapper{
    min-height: 100%;
}

.films_block{
    text-align: center;
    white-space:nowrap;

& img{
    margin-bottom: 5%;
    border-radius: 5px;
    border: 5px solid #dad7d5;
    width: 100%;
} 
}

.margin-8{
    margin-top: 8%;
}

.film_label{
    padding: 2%;
    margin-bottom: 4%;
}

//main left panel
.panel{
    border: none;
.panel-heading {
    background-color: #f0ad4e;
    color: white;
    border-color: transparent;
.panel-body{
    background-color: #f9f9f9;
}
.sidebar-header{
    font-size: 120%;    
    letter-spacing: 2px;
}
}
}.form-control{
    border-radius: 0px;
    font-size: 14px;
}
.input-lg{
    font-size: 14px;
}
.list-group-item-warning{
    color: #8a6d3b;
.badge{
    background-color: #000000;
}
}

.info-block{
    font-size: 120%;
& .badge {
    font-size: 80%;
    color: white;
    background-color: #000000;
}    
& span {
    margin-right: 3%;
}
}

textarea.form-control{
    height: 200px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

// footer
footer{
    color:#666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;

& a {
    color: #999;
}

& a:hover{
    color: #efefef;
}
}
}


